header {
  height:70rem;
  padding-top: 7rem;
  overflow: hidden;
}

.header-container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* buttons */

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}


/* socials */

.header-socials {

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom : 0;
}

.socials {
  margin-top: 1rem;
}

.header-socials::after {
  margin-top: 1rem;
  content: "";
  width: 1px;
  height: 4rem;
  background: var(--color-primary);
}



/* image */

.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  /* height: 25rem; */
  position: absolute;
  left: calc(50%);
  bottom: 0;
  transform: translateX(-50%);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
}

.me-img {
  height: 28rem;
  opacity: 0.6;
  transition: var(--transition);
}

.me-img:hover {
  opacity: 1;
}



/*  ========== MEDIA QUERIES ================*/


/* SMALL DEVICES */

@media screen and (max-width: 600px) {
  .header-socials {
    display: none;
  }

  header {
    height: 42rem;
    padding-top: 50px;
  }
}

@media screen and (max-width: 1920px and max-height: 1080px) {

  header {
    height: 100vh;

  }
}
